<div class="form-group">
  <label for="color">Côr:</label>
  <select class="form-control">
    <option></option>
    <option style="color: rgb(0, 0, 0); background: rgb(240, 248, 255); font-size: 150%;">
      AliceBlue
    </option>
    <option style="color: rgb(0, 0, 0); background: rgb(250, 235, 215); font-size: 150%;">
      AntiqueWhite
    </option>
    <option style="color: rgb(0, 0, 0); background: rgb(127, 255, 212); font-size: 150%;">
      Aquamarine
    </option>
    <option style="color: rgb(0, 0, 0); background: rgb(240, 255, 255); font-size: 150%;">
      Azure
    </option>
    <option style="color: rgb(0, 0, 0); background: rgb(245, 245, 220); font-size: 150%;">
      Beige
    </option>
    <option style="color: rgb(0, 0, 0); background: rgb(255, 228, 196); font-size: 150%;">
      Bisque
    </option>
    <option style="color: rgb(255, 255, 255); background: rgb(0, 0, 0); font-size: 150%;">
      Preto
    </option>
    <option style="color: rgb(0, 0, 0); background: rgb(255, 235, 205); font-size: 150%;">
      BlanchedAlmond
    </option>
    <option style="color: rgb(255, 255, 255); background: rgb(0, 0, 255); font-size: 150%;">
      Blue
    </option>
    <option style="color: rgb(255, 255, 255); background: rgb(138, 43, 226); font-size: 150%;">
      BlueViolet
    </option>
    <option style="color: rgb(255, 255, 255); background: rgb(165, 42, 42); font-size: 150%;">
      Brown
    </option>
    <option style="color: rgb(0, 0, 0); background: rgb(222, 184, 135); font-size: 150%;">
      BurlyWood
    </option>
    <option style="color: rgb(255, 255, 255); background: rgb(95, 158, 160); font-size: 150%;">
      CadetBlue
    </option>
  </select>
</div>